body {
    padding: 0;
    display: flex;
}

.title{
    margin-top: 200px;
    color: #595959;
}

.profileContainer {
    display: flex;
    align-items: flex-start;
    gap: 20px;
}

.profileBox {
    width: 520px;
    height: 50vh;
    margin-bottom: 50px;
}

.profileBox p {
    font-size: 16px;
    margin-top: 15px;
}

.photoBox {
    width: 200px;
    height: 160px;
    background-color: antiquewhite;
}

.photoBox img {
    width: 100%;
}

.profileBox div {
    display: flex;
}

.nameBox {
    font-size: 32px;
    gap: 10px;
}
